

.device-grid{
  padding:0;
  // Account for the borders?
  height: calc( 100% - 60px );
  border: black;
  overflow: hidden;
}

.bottom-toolbar{
  position: sticky;
  z-index: 1;
  //background-color: rgba(255,255,255, 0.2);
  //color: black;
  border-bottom: none;
  height: 60px;
}

.middle-align{
  margin: auto;
}
