<div class="device-grid">
<!--  Swap in and out for tile grid or single module. Or render single in container over grid-->
  <app-dynamic-tile-grid-manager [tileModulesConfig]="tileModulesConfig"></app-dynamic-tile-grid-manager>
</div>

<mat-toolbar color="primary" class="bottom-toolbar, mat-elevation-z4">
  <div class="middle-align">
    <button
      type="button"
      aria-label="Toggle Move Left"
      mat-icon-button>
      <mat-icon aria-label="Side nav toggle icon">arrow_back_ios</mat-icon>
    </button>
    <button
      type="button"
      aria-label="Toggle ShowDevices"
      mat-icon-button
      [matMenuTriggerFor]="deviceMenu">
      <mat-icon aria-label="Side nav toggle icon">apps</mat-icon>
    </button>
    <button
      type="button"
      aria-label="Toggle Move Right"
      mat-icon-button>
      <mat-icon aria-label="Side nav toggle icon">arrow_forward_ios</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-menu #deviceMenu class="sidenav" [style.width.px]="200">
  <ng-container *ngIf="availableModules.length > 0">
    <button mat-menu-item *ngFor="let module of availableModules" (click)="selectModule(module.Id)">
      {{ module.Label }}
    </button>
  </ng-container>
</mat-menu>
