<div class="module-div">
  <div class="header-container">
    <h2 class="module-header">Thermostat {{id}}</h2>
  </div>
  <div class="split-thermostat-module">
    <div class="left-side">
      <div class="thermostat-dummy">
        <p>{{sliderValue}}°C</p>
        <input type="range" min="0" max="50" [(ngModel)]="sliderValue">
      </div>
    </div>
    <div class="right-side">
      <ng-container class="dynamic-box" *ngFor="let element of elements">
        <ng-container *ngIf="element.Type === elementTypes.Button">
          <button>{{element.Label}}</button>
        </ng-container>
      </ng-container>
      <ng-container *ngFor="let element of elements">
        <div class="fan-area">
          <ng-container *ngIf="element.Type === elementTypes.ToggleButton">
            <button>{{element.Label}}</button>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
</div>
