<div class="module-div">
  <div>
    <div class="header-container">
      <h2 class="module-header">Button-Panel {{id}}</h2>
    </div>
    <div class="button-container">
      <button *ngFor="let element of elements; let i = index"
              (click)="onSelect(element.Id)"
              type="button">
        <img [src]="element.Icon" alt="{{element.Label}}">
      </button>
    </div>
  </div>
</div>

<!--<mat-grid-list class="button-grid" cols="6" rowHeight="2:1">-->
<!--  <mat-grid-tile *ngFor="let element of elements;">-->
<!--    <button>-->
<!--    </button>-->
<!--  </mat-grid-tile>-->
<!--</mat-grid-list>-->
